[mysql]
host = mysql
; port = 3306   ; ConfigParser will parse this as a string (not int) which will cause pymysql to moan
user = webro
passwd = ***********
db = edaweb

[nitter]
url = 192.168.1.92
port = 7777
domain = nitter.eda.gay

[docker]
url = 192.168.1.5
port = 4550

[pihole]
url = 192.168.1.3:81

[transmission]
url = 192.168.1.5
port = 9092

[discord]
username = @eden#7623

[servicetimeout]
seconds = 2

[github]
client_id = *******************
client_secret = **********************************
access_code = *******************************

[cds]
location = /media/ISOs/
maxsize = 700000000
