itsdangerous==2.0.1
PyMySQL==1.0.2
transmission_rpc==4.1.0
Werkzeug==2.3.7
Flask==2.2.2
PiHole_api
dataclasses
docker
APiHole
Pillow==9.4.0
PyGithub
lxml
requests
PasteScript==3.2.0
waitress
houdini.py
Pygments
mistune==2.0.3
twython==3.8.2
fabric
paramiko