PyMySQL==1.0.2
python_qbittorrent==0.4.2
Flask==1.1.2
PiHole_api
transmission-clutch
dataclasses
docker
PiHole-api
Pillow==8.1.0
python-qbittorrent==0.4.2
PyGithub
lxml
requests
PasteScript==3.2.0
waitress
houdini.py
Pygments
misaka
