html {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: small;
}

body {
    /* background: linear-gradient(red,orange,yellow,green,blue,indigo,violet); */
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    position: relative;
    background: black;
}

#wrapper {
    background-color: #f1f3f3;
    max-width: 974px;
    min-width: 850px;
    margin: auto;
    margin-top: -10px;
}

header {
    background-color: #f1f3f3;
}


#headerflex {
    display: flex;
}

#headers {
    flex-grow: 1;
}

header nav {
    flex-grow: 1;
    display: inline;
}

#links {
    text-align: center;
    font-size: x-small;
}

header span nav ul {
    background-color: black;
}

header span nav ul li a {
    color: white;
}

header div {
    padding-left: 20px;
    padding-bottom: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 5px 6px 5px 6px;
    color: black;
}

#TheTitle {
    text-decoration: none;
    color: black;
}

#TheTitle h1 {
    padding-left: 6px;
}

#articles {
    text-align: left;
    background-color: white;
}

article section table {
    font-family: monospace;
}

article section table td {
    text-align: right;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
}

.running {
    background-color: green;
    padding: 1, 1, 1, 1;
    margin: 0, 0, 2, 3;
}

.notRunning {
    background-color: red;
    padding: 1, 1, 1, 1;
    margin: 0, 0, 2, 3;
}

header img {
    max-height: 110px;
}

body div article {
    padding-left: 6px;
}

footer {
    background-color: gray;
    padding: 3px;
}

@media (max-width: 1023px) {
    body {
        margin: 0;
        padding: 0;
    }

    #wrapper {
        min-width: 100%;
        margin-top: 0;
    }
}
