{% extends "template.html.j2" %}
{% block content %}
    <h4>this page might not be up-to-date if my diary account is search banned</h4>
    <p>if in doubt check my <a href="https://twitter.com/{{ diary_account }}">diary account</a> <br> <a href="https://shadowban.yuzurisa.com/{{ diary_account }}">check if i'm currently search banned</a></p>
    <dl>
        {% for dt, entries in diary.items() %}
            <dt><a href="{{ entries[0]['link'] }}">{{ dt }}</a></dt>
            <dd>
                <ol id="diaryentry">
                    {% for entry in entries %}
                        {% if entry["images"] != [] %}
                            <ul>
                                {% for img in entry["images"] %}
                                    <li><a href="{{ img }}" target='_blank'><img src="{{ img }}"></a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <li>
                            <p>{{ entry["text"] }}</p>
                        </li>
                    {% endfor %}
                </ol>
            </dd>
        {% endfor %}
    </dl>
{% endblock %}
