{% extends "template.html" %}
{% block content %}
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
   <p>Haiiiiiiii, this is the index page uwu</p>
 {% endblock %}