{% extends "template.html.j2" %}
{% block content %}
    <form action="/nhdlredirect" method="POST">
        <label for="nhentai">nHentai.net number:</label>
        <input type="text" id="number_input" name="number_input"><br><br>
        <input type="submit" value="Download">
    </form>
{% endblock %}