{% extends "template.html.j2" %}
{% block content %}
<article id=statusTables>
    <section id=docker>
        <h2>docker</h2>
        <ul>
            {% for host, containers in docker.items() %}
                <h4>{{ "%s - %s" % (host[0], host[1]) }}</h4>
                <table>
                    {% for name, status, image in containers %}
                        <tr>
                            <td>{{ name }}</td>
                            {% if "Up" in status %}
                                <td class=running>{{ status }}</td>
                            {% else %}
                                <td class=notRunning>{{ status }}</td>
                            {% endif %}
                            <td>{{ image }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        </ul>
    </section>

    <section id="torrents">
        <h2>transmission</h2>
        {% if trans == None %}
            <p>Couldn't access the transmission API. Is docker container running?</p>
        {% else %}
            <table>
                {% for k, v in trans.items() %}
                    <tr>
                        <td>{{ k }}</td>
                        <td>{{ v }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </section>
    
    <section id=pihole>
        <h2>pihole</h2>
        {% if pihole == None %}
            <p>Couldn't access the pihole API. Is docker container running?</p>
        {% else %}
            <table>
                {% for k, v in pihole.items() %}
                    <tr>
                        <td>{{ k }}</td>
                        <td>{{ v }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </section>
</article>
{% endblock %}