<!doctype html>
<html>
    <head>
        <meta name="abuseipdb-verification" content="3IuG6dik" />
        <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
        <link rel="shortcut icon" href="/img/greenboi.jpg?h=16&w=16">
        <title>eda.gay :: {{title}}</title>
    </head>
    <body>
        <div id=wrapper>
            <header>
                <span>
                    <nav id=links>
                        <ul>
                            {% for name, link in links %}
                            <li>
                                <a href={{link}}>{{name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </span>         
                <div id=headerflex>
                    <div id=headers>
                        <a href="/" id=TheTitle><h1>{{title}}</h1></a>
                        <nav id=articles>
                            <ul>
                                {% for name, link in articles %}
                                <li>
                                    <a href={{link}}>{{name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <a href="/">
                        <img alt={{image[0]}} src={{image[1]}}>
                    </a>         
                </div>
            </header>
            <!-- yes, this is stupid asf, using another template would be better (i cant get that to work) -->
            {% if thought %}
                <aside>
                    <h4>{{dt}}</h4>
                    <h5>this category:</h5>
                    <ul>
                        <li><b><a href={{'/thoughts#'+category.replace(' ', '_')}}>{{category}}</a></b></li>
                    </ul>
                    <h5>related thoughts:</h5>
                    <ul>
                        {% for id_, title, dt, category in related %}
                            <li><a href={{"/thought?id=%i" % id_}}>{{title}}</a></li>
                        {% endfor %}
                    </ul>
                    <h5>other categories:</h5>
                    {% for category_name in othercategories %}
                        <ul>
                            <li><a href={{'/thoughts#'+category_name.replace(' ', '_')}}>{{category_name}}</a></li>
                        </ul>
                    {% endfor %}
                </aside>
            {% endif %}
            <article>
                {% block content %}
                {% endblock %}
            </article>
            <footer>
                <p>this site is <a href="/thought?id=3">javascript free</a></p>
                <a href="https://github.com/jwansek/edaweb">sauce code released under gplv3</a>
            </footer>
        </div>
    </body>
</html>
