<!doctype html>
<html lang="en">
    <head>
        <meta name="abuseipdb-verification" content="3IuG6dik" />
        <link rel='stylesheet' href="{{url_for('static', filename='style.css')}}">
        <link rel="shortcut icon" href="/img/greenboi.jpg?h=16&w=16">
        <title>eda.gay :: {{title}}</title>
        
        <meta content="{{title}}" property="og:title" />
        {% <meta content="Site Description" property="og:description" /> %}
        <meta content="https://eda.gay" property="og:url" />
        <meta content="/img/greenboi.jpg?h=512&w=512" property="og:image" />
    </head>
    <body>
        <div id=wrapper>
            <header>
                <div id="externallinks">
                    <nav>
                        <ul>
                            {% for name, link in links %}
                            <li>
                                <a href="{{link}}">{{name}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>         
                <div id=headerflex>
                    <div id=headers>
                        <a href="/" id=TheTitle><h1>{{title}}</h1></a>
                        <nav id=articles>
                            <ul>
                                {% for name, link in articles %}
                                <li>
                                    <a href="{{link}}">{{name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                    <a id=sidebarImage href="/">
                        <img alt="{{image[0]}}" src="{{image[1]}}">
                    </a>         
                </div>
            </header>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <footer>
                <p>this site is <a href="/thought?id=3">javascript free</a></p>
                <a href="https://git.eda.gay/eda.gay/file/LICENSE.html">sauce code released under gplv3</a> <a href="https://github.com/jwansek/eda.gay">alternate git link</a>
                <div id="footer_banners">
                    <p>
                        <a href="http://jigsaw.w3.org/css-validator/check/referer">
                            <img style="border:0;width:88px;height:31px"
                                src="/img/vcss-blue.gif"
                                alt="Valid CSS!" />
                        </a>
                    </p>
                    <a href="http://www.freebsd.org/">
                        <img alt="Powered By FreeBSD" src="/img/powerani.gif">
                    </a>
                    <a href="https://web3isgoinggreat.com/">
                        <img src="/img/anti_nft_b.png" alt="anti-nft site ">
                    </a>
                    <img src="/img/www.gif">
                    <img src="/img/bob.gif">
                    <img src="/img/sun.gif">
                </div>
                <iframe src="https://john.citrons.xyz/embed?ref=eda.gay" style="padding-top:20px;margin-left:auto;display:block;margin-right:auto;max-width:732px;width:100%;height:94px;border:none;"></iframe>
            </footer>
        </div>
    </body>
</html>
